user_uuid = "08bd7681-c0a8-440a-8b3c-4e09b223a883"
bucket_name = "r4tic0avlyl46qnv10f43qv5e3ibtwnm"
index_html_filepath ="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath ="/workspace/terraform-beginner-bootcamp-2023/public/error.html"
content_version = 1